<div class="hero d-flex">
	<div class="row mx-auto align-items-center">
		<div class="col">
			<div class="frosty text-center">	
				<h1>Find your peace of mind</h1>
				<br />
				<h2>Video guided meditation and yoga practice.</h2>
			</div>
		</div>
	</div>
</div>