<div class="hero d-flex">
	<div class="row mx-auto align-items-center">
		<div class="col">
			<div class="frosty text-center">	
				<h1>Find your peace of mind</h1>
				<br />
				<h2>Video guided meditation and yoga practice.</h2>
			</div>
		</div>
	</div>
</div>
<br />
<div class="row text-center feature">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    	<i class="fas fa-3x fa-map-signs"></i>
    <br />
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
  	<i class="fas fa-3x fa-motorcycle"></i>
    <br />
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <i class="fas fa-3x fa-graduation-cap"></i>
    <br />
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>